<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      {{!-- posts? --}}
      <a href="/posts/{{post.id}}">{{post.name}}</a> 
    </h2>
    <p>Created by {{post.user.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
  <div>
    <p>
      {{!-- each through the comments --}}
      {{!-- {{post.comments}} --}}
    </p>
    <p>
  {{post.comments}}
  </p>
  <p>
  comment by: {{post.comments.user.name}}
  </p>
  <div class="form-group-comments">
  <label for="comments">Leave a comment:</label>
  <input class="form-input" type="input" id="comments" />
  </div>
  <div>
  <button class="btn btn-primary form-group-comments-submit" type="submit">send</button>
  </div>
    
    
  </div>
</div>

{{/each}}

